#imge{
   text-align: center;  
}
#title{
    text-align: center;
}
p{
    text-align: center;
}
h2{
    text-align: center;
}
li{

    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 20px;
}

#link{
    font-size: 24px;
    font-weight: bold;
}
body{
    background-color: lightgrey;
} 
